<p id="notice"><%= notice %></p>

<h1>List Orders</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Customer ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.customer_id %></td>
        <td><%= link_to 'Show', customer_order_path(@customer, order) %></td>
        <td><%= link_to 'Edit', edit_customer_order_path(@customer, order) %></td>
        <td><%= link_to 'Delete', customer_order_path(@customer, order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Order', new_customer_order_path %>
